@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../src/scss/fonts.scss';
@import '../src/scss/navigation.scss';
@import '../src/scss/main-page.scss';
@import '../src/scss/navbar.scss';
@import '../src/scss/books.scss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #c99a42;
  --secondary: #353535;
  --content: #404040
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
