@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../src/scss/fonts.scss';
@import '../src/scss/navigation.scss';
@import '../src/scss/main-page.scss';
@import '../src/scss/navbar.scss';
@import '../src/scss/books.scss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #D4AF37;
  --secondary: #3b2d0a;
  --content: #404040
  --text-primary: #ffffff;
  --text-gold: #FFD700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

// Swiper slider button next and previous
.swiper-button-prev,
.swiper-button-next {
  color: #333;          /* button color */
  top: 50%;             /* center vertically */
  transform: translateY(-50%);
}

.swiper-button-prev {
  left: 10px;           /* adjust position */
}

.swiper-button-next {
  right: 20px;
}

.bg-primary {
  background: linear-gradient(
    15deg,
    var(--primary) 0%,
    var(--secondary) 100%
  );
}

.bg-primary-secondary {
  background: black;
}

.text-gold {
  color: var(--text-gold);
}

.fill-main {
  fill: var(--primary);

  &:hover {
    fill: var(--secondary);
  }
}

.fill-gold {
  fill: var(--text-gold);

  &:hover {
    fill: #D4AF37;
  }
}

.stroke-main {
  stroke: var(--primary);
  &:hover {
    stroke: var(--secondary);
  }
}

.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3vw;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section {
  background-image: url("/images/image_6.jpeg");
  min-height: 100vh;
}

.cta-section {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1680026319202-fcb822e0ab91?q=80&w=2960&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.cta-wrapper {
  height: 300vh;
  margin-block: -100vh;
}

.cta-section {
  position: sticky;
  top: 0;
}

.content-section {
  color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
  gap: 4vw;
  background-color: white;
  color: black;
}
.content-image {
  aspect-ratio: 1 / 1.2;
  border-radius: 0.5rem;
}

.scroll-spacer {
  height: 100vh;
}

.hero-section {
  position: sticky;
  top: 0;
}

.hero-wrapper {
  margin-bottom: -100vh;
}

.content-section {
  position: relative;
  z-index: 2;
}
