.book-title {
    font-family: 'Jung', sans-serif;
    font-size: 30px;
    font-style: italic;
}

.book-description {
    font-family: 'Jung', sans-serif;
    font-size: 18px;
    line-height: 35px;
}