@font-face {
    font-family: 'Jung';
    src: url('../fonts/Junge.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.font-jung {
    font-family: 'Jung', sans-serif;
    font-weight: 400;
}