@font-face {
    font-family: 'Jung';
    src: url('../fonts/Junge.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond';
    src: url('../fonts/EBGaramond.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'lora';
    src: url('../fonts/Lora.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'domine';
    src: url('../fonts/Domine.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'butler';
    src: url('../fonts/Butler_Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'noto';
    src: url('../fonts/NotoSerif.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}