.branding {
    font-family: 'noto';
    font-weight: 400;
    letter-spacing: 15px;
    font-size: 20px;
    text-transform: uppercase;
}

.brand-context {
    font-family: 'domine';
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.menu-sm {
    font-family: 'domine';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}